.product-details {
  display: flex;
  justify-content: space-between;
}

.product-image-container {
  flex: 0 0 48%;
}

.product-image {
  max-width: 50%;
  max-height: 50%;
}

.product-info {
  flex: 0 0 48%;
}

.product-name {
  font-size: 24px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.action-buttons {
  margin-top: 10px;
}

.buy-now-button {
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #011b10;
  color: #fff;
  border: 1px solid #011b10;
}

.offer-button {
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #b7bf96;
  border: 1px solid #b7bf96;
}

.additional-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-between;
}

.info-box {
  background-color: #ffff;
  flex: 0 0 48%;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}
.category-box {
  background-color: #ffff;
  flex: 0 0 48%;
  border: 1px solid #b7bf96;
  padding: 5px 10px;
  margin-bottom: 10px;
}
