.sell-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height:auto;
  background-color: #faf6ed;
  padding-bottom: 25px;
}

.form-container {
  background-color: #faf6ed;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex-start;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.left-side {
  flex: 0 0 60%;
}

.right-side {
  flex: 0 0 40%;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#preview {
  max-width: 100%;
  max-height: 200px;
  margin-top: 10px;
}
