body,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #faf6ed;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}
.layout {
  height: 100%;
}
.main {
  max-width: 2000px;
  margin: 20px auto;
  padding: 0 20px;
  background-color: #faf6ed;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 550px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #011b10;
  color: white;
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  list-style-type: flex-start;
  margin: 10px;
  padding: 20px;
}

.nav-items.left {
  margin-left: auto;
}

.nav-items.right {
  margin-left: auto;
}

.nav-items li {
  display: inline-block;
  margin-right: 20px;
}

.nav-items li:last-child {
  margin-right: 20px;
}

.nav-items li a {
  color: #fff;
  text-decoration: none;
}

.nav-items li a:hover {
  text-decoration: underline;
}

.footer {
  max-height: min-content;
}
