<!doctype html>
<html>
  <head >
    {%block head%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {%endblock%}
    {% if title %}
    <title>EcoMarket {{title}}</title>
    {%else%}
    <title>EcoMarket</title>
    {%endif%}
  </head>
 
  <body>
    <section class="layout">
        <div class="header">
            <img src="{{ url_for('static', filename='/images/witer1.png') }}" alt="white rerooted logo" width="100" height="100">

            <nav class="navbar">
                <ul class="nav-items">
                    <li><a href="/">Home</a></li>
                </ul>
                <ul class="nav-items">
                  {% if is_authenticated %}
                  <li><a href="/view_profile">View Profile</a></li>
                  {% else %}
                  <li><a href="/login">Login</a></li>
                  {% endif %}
                </ul>
                <ul class ="nav-items">
                    <li><a href="/account">Account</a>
                </ul>
            </nav>
        </div>


      
      </div>
      <div class="main">{%block main%}{%endblock main%}</div>
      <div class="footer">my name is jeff</div>
    </section>
  </body>
</html>

